#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* width: 99%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 520px) {
  .mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    box-shadow: rgba(241, 14, 14, 0.938) 0px 1px 4px;
    border: 1px solid green;
  }
}
